.tt-statistics {
	position: relative;
	top: 20px;
	width: 900px;
	font-family: 'Roboto';
  margin: 0 auto;

  * {
  	box-sizing: unset;
  }

  .chart-wpm {
  	position: absolute;
  	top: 320px;
  	left: 10px;
  	width: 860px;
  	height: 200px;
  }

  .chart-words {
  	position: absolute;
  	width: 300px;
  	height: 300px;
  }
}

.graf-test {
  width: 650px;
  height: 300px;
}


#circle-accuracy {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;

  .progressbar-text {
  	font-size: 26px;
  }
}